.posterContainer {
  border: 50px GhostWhite solid;
  background: white;
  height: 1754px;
  width: 1240px;
  display: flex;
  flex-direction: column;
}

.header {
  height: 20%;
  position: relative;
}

.mapContainer {
  height: 80%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 3;
  padding-top: 90px;
  word-wrap: normal;
}

.lineDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lineNameAndLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lineNameNoLogo {
  padding-left: 30px;
}

.descriptionDetails {
  align-self: flex-end;
  padding-right: 30px;
}

.lineDesc {
  margin-left: 5px;
}

.divider {
  height: 3px;
  width: 95%;
  margin-top: -40px;
  background-color: black;
  align-self: center;
}


.agencyLogo {
  position: absolute;
  /* right: 20px; */
  /* top: 20px; */
}

.transitLifeCred {
  position: absolute;
  top: 1600px;
  transform: rotate(270deg);
  left: -60px;
}
