.container {
  /* display: flex;
  flex-direction: row; */
  height: 1000px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
}

.button {
  background-color: lightblue;
  font-weight: bold;
  /* margin: 10px; */
  height: 100px;
  width: 300px;
}