.posterContainer {
  border: 100px GhostWhite solid;
  background: white;
  height: 1754px;
  width: 1240px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  height: 13%;
  position: relative;
}

.mapContainer {
  height: 87%;
  position: relative;
}

.title {
  background-color: GhostWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
  padding-top: 80px;
  word-wrap: normal;
  row-gap: 10px;
}

.lineDetails {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lineNameNoLogo {
  display: flex;
  flex-direction: row;

  column-gap: 15px;
  width: 100%;
}

.lineName {
  padding-left: 0;
  /* font-weight: bolder; */
  flex-grow: 1;
  color: black;
}

.lineTypeDesc {
  padding: 0;
  /* font-weight: bolder; */
  flex-grow: 9;
}

.descriptionDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
 
}

.descriptionDetailDeivider {
  font-size: 40px;
  margin-top: -11px;
  ;
}


.agencyLogo {
  position: absolute;
}

.transitLifeCred {
  position: absolute;
  top: 1250px;
  transform: rotate(270deg);
  left: -110px;
}