.posterContainer {
  border: 400px white solid;
  /* border: 200px GhostWhite solid; */
  background: white;
  height: 7016px;
  width: 4960px;
  display: flex;
  flex-direction: column;
}

.header {
  height: 12%;
  position: relative;
}

.mapContainer {
  height: 88%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 3;
  padding-top: 50px;
  word-wrap: normal;
  row-gap: 10px;
}

.lineDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 50px */
}

.lineNameNoLogo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lineName {
  display: flex;
  flex-direction: row;
  padding: 0;
  font-weight: bolder;
  letter-spacing: 10px;
}

.lineTypeDesc {
  margin-top: -55px; 
  padding: 0;
  color: black;
  font-weight: bolder;
}

.lineType {
  margin-left: 25px
}

.descriptionDetails {
  align-self: flex-end;
  padding-right: 30px;
}

.divider {
  height: 3px;
  width: 95%;
  margin-top: -40px;
  background-color: black;
  align-self: center;
}


.agencyLogo {
  position: absolute;
}

.transitLifeCred {
  position: absolute;
  top: 6197px;
  transform: rotate(270deg);
  left: -42px;
}

